---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Conversations from '@/components/Conversations.svelte';
---

<BaseLayout title="Conversaciones" description="Chat-Widget for llm">
	<section>
        <Conversations client:load="svelte" />
    </section>
</BaseLayout>

<style>
    section {
        max-width: 1280px;
        padding: 20px;
        margin: auto;
    }
</style>