<div class="chat-container">
    <div class="chat-body">
        <div class="bot-bubble">
            <p>Hola como te puedo ayudar?</p>
        </div>
        <div class="user-bubble">
            <p>cuantos campus tienen?</p>
        </div>
    </div>
</div>

<style>
    .chat-container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

/* Estilo para el cuerpo del chat */
.chat-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.chat-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#00c8f0 calc(100vh - 455px + 48px), #0082fb, #0070f0, #0070f0, #0070f0 calc(100% - 56px), #0070f0);
  z-index: 0;
}

.bot-bubble {
  max-width: 70%;
  align-self: flex-start;
  background-color: #e1f0ff;
  color: #333;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #b0d8ff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.user-bubble {
  max-width: 70%;
  align-self: flex-end;
  color: #333;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background: transparent;
  z-index: 0;
}



.bot-bubble p,
.user-bubble p {
    margin: 0;
}
</style>